@font-face {
    font-family: "Vazir";
    src: url("../../fonts/Vazir.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/Vazir.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../../fonts/Vazir.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../../fonts/Vazir.ttf") format("truetype"); /* Safari, Android, iOS */
}

:root {
    --white-color: #f2f2f2;
    --dark-color: #1b1e21;
    --max-width: 1390px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .wrapper {
    overflow-x: hidden;
}

body {
    direction: rtl;
    text-align: right;
    background: var(--white-color);
}

a {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
}
span{
    font-family: "Vazir", Arial, Helvetica, sans-serif;

}
a:hover {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

ul {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    text-align: right;
    list-style: none;
}

img {
    width: 100%;
}

.wrapper {
    position: relative;
}

.content-wrapper, .main-header, .main-footer {
    margin-right: 19.8rem;
    margin-left: 0;
    transition: margin-right 0.3s ease-in-out;
}
